/* HOMEPAGE.CSS FILE */

/* Background image container css */
.background {
  width: 100%;
  height: 100vh;
  background-image: url("/public/IconsandImages/background.png");
  position: fixed;
  z-index: -1;
}

/* Body css */
body {
  height: 100%;
  color: transparent;
}

/* Heading css */
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  padding: 15px, 15px, 15px, 15px;
  color: #ffffff;
}

/* Description css */
.blurb {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 65px;
  padding: 15px, 15px, 15px, 15px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}

/* Start planner button css */
.buttonStart {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: -20px;
}

/* Guest Description css */
.guestBlurb {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}

/* Feature cards container css */
.cardContainer {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

/*Feature Card Container*/
.homeCardContainer {
  margin-right: 100px;
}

@media screen and (max-width: 2095px) {
  /* Heading css */
  h1 {
    margin-top: 60px;
  }

  /*Feature Card Container*/
  .homeCardContainer {
    margin-right: 50px;
  }

  /* Start planner button css */
  .buttonStart {
    margin-bottom: 0px;
  }

  /* Guest Description css */
  .guestBlurb {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
  }
}

/* Responsive css */
@media screen and (max-width: 1700px) {
  .homeCardContainer {
    margin-right: 0px;
  }
}
