.plantTypeButton {
  margin-top: 1.25rem;
  width: fit-content;
}

.plantContainer {
  /*padding: 2.5rem 1.25rem 25rem 0rem;*/
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  justify-content: left;
}

.addButton {
  padding-bottom: 100px;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.searchBar {
  width: 450px;
}

button:focus {
  background-color: #eab970;
  color: #ffffff;
}

button:focus:hover {
  background-color: #eab970;
  color: #ffffff;
}
