/* Plant cards container css */
.plantContainer {
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  justify-content: left;
}

/* Add to planner button css */
.addButton {
  padding-bottom: 100px;
  justify-content: right;
  padding-right: 20px;
}

.searchBar {
  width: 500px;
  padding-right: 40px !important;
}

@media screen and (max-width: 750px) {
  .searchBar {
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
  }
}
