.plantTypeButton {
  margin-top: 20px;
}

.plantContainer {
  padding: 40px 20px 20px 00px;
  width: 96%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  justify-content: left;
  flex-wrap: wrap;
}
