.btn {
  padding: 8px 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(#eab970);
  color: #ffffff;
  font-weight: bold;
}

.btn--secondary {
  background-color: var(#5e875d);
  color: #ffffff;
}

.btn--outlined {
  background-color: var(#ffffff);
  color: #5e875d;
  border: 2px solid #5e875d;
}

.btn--standard--size {
  padding: 8px 20px;
  font-size: 20px;
  font-weight: semibold;
}

.btn--standard--size:hover {
  transition: 250ms;
}
