body {
  margin: 0px;
}

.navbar {
  background-image: linear-gradient(#b5cca7, #ffffff00);
  padding: 5px 20px 20px 20px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 999;
}

.nav-menu {
  position: relative;
  margin-right: 40px;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 500px) {
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-menu {
    position: right;
    display: flex;
    width: 50vw;
  }
}

/*For Footer.jsx*/
.footer-container {
  background-image: linear-gradient(#ffffff00, #b5cca7);
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
}
