body{
  margin: 0px;
}

.navbar {
  background-image: linear-gradient(#b5cca7, #ffffff);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  justify-self: start;
  cursor: pointer;
  display: flex;
  align-items: left;
  margin-left: 10px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  width: 87vw;
  justify-content: right;
}

.nav-item {
  text-align: center;
  display: table;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .navbar-logo {
    position: left;
    cursor: pointer;
    display: flex;
  }

  .nav-menu {
    position: right;
    cursor: pointer;
    display: flex;
    width: 48vw;
  }
}

/*For Footer.jsx*/
.footer-container {
  background-image: linear-gradient(#ffffff, #b5cca7);
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
  position: fixed;
}
