.layout-container{
    width: 100%;
}

.layout-main{
    width: 100%;
    
}

.layout-left-right-flex{
   
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
}

.layout-left{
    width: 80%;
}

.layout-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

.layout-body{
   padding-top: 2.23rem;
    margin: 0px;
}