table{
  border-collapse: separate !important;
  border-spacing: 10px 20px !important;
  border-collapse: none !important;
}

.headerLabels {
  color: #5e875d !important;
  text-align: center !important;
  font-weight: 700 !important;
}

.monthLabels{
  color: #7E9F7E !important;
  font-weight: 700 !important;
}

.plantName {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  border-radius: 20px;
  font-weight: 600 !important;
  color: #ffffff !important;
  background-color: #5e875d !important;
}

.imageContainer {
  padding-right: 5px;
}

.monthlyPlantStart{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #D0E8DE !important;
}

.monthlyPlant{
  background-color: #D0E8DE !important;

}

.monthlyPlantEnd{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #D0E8DE !important;
}

.harvestTime{
  text-align: center !important;
}