input,
button {
  appearance: none;
  background: #ffffff;
  border-radius: 20px;
  padding: 5px;
  border: none;
}

.form {
  display: block;
  position: relative;
  justify-content: center;
}

.formInner {
  background-color: #b5cca7;
  color: #ffffff;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  display: block;
  position: relative;
  justify-content: center;
  padding: 30px;
  z-index: 1;
}

.formGroup {
  display: block;
  width: 300px;
  margin-bottom: 20px;
}
