.background {
  background-color: #00000033;
  width: 100vw;
  height: 190vh;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.logo {
  margin-bottom: 0.6rem;
}

.formContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b5cca7;
  color: #ffffff;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  padding: 0.9rem;
  z-index: 1;
  cursor: default;
}

.formGroup {
  position: flex;
  width: 350px;
  margin-top: 0.6rem;
  margin-bottom: 1.25rem;
  justify-content: flex-end;
}

.forgotPassword {
  color: #ffffff;
  font-weight: 300;
  margin-right: 140px;
  margin-bottom: 1.25rem;
}

.signText {
  color: #ffffff;
  font-weight: 600;
  margin-top: 5px;
}
