.background {
  background-color: #00000033;
  width: 100vw;
  height: 190vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.logo {
  margin-bottom: 10px;
}

.formInner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b5cca7;
  color: #ffffff;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  padding: 15px;
  z-index: 1;
  cursor: default;
}

.formGroup {
  display: block;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.forgotPassword {
  color: #ffffff;
  font-weight: 300;
  margin-right: 140px;
  margin-bottom: 20px;
}

.signText {
  color: #ffffff;
  font-weight: 600;
  margin-top: 5px;
}
