/* Background image container css */
.background {
  width: 100%;
  height: 100vh;
}

/* Logo css */
.logo {
  margin-left: 150px;
}

/* Form container css */
.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30rem;
  width: 30rem;
  color: #ffffff;
  background-color: #b5cca7;
  filter: drop-shadow(5px 5px 10px rgba(145, 145, 145, 0.493));
  border-radius: 20px;
  padding: 1.25rem;
  z-index: 1;
  cursor: default;
}

/* Form css */
form {
  padding: 5px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Textfield container css */
.formGroup {
  width: 450px;
  padding: 15px 15px 15px 15px;
}

/* Forgot password text css */
.forgotPassword {
  color: #ffffff;
  font-weight: 300;

  margin-left: -290px;
}

/* Button css */
.submitButton {
  padding-top: 20px;
  margin-left: -20px;
}

/* Error message css */
.error {
  padding: 15px 15px 0px 10px;
  color: #a54646;
  font-weight: 600;
  font-style: italic;
}
