/* YEARLY VIEW CSS */
/* Main table css */
table {
  border-collapse: separate !important;
  border-spacing: 0px 15px !important;
  border-collapse: none !important;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header(plant & harvest) css */
.headerLabels {
  color: #5e875d !important;
  text-align: center !important;
  font-weight: 700 !important;
}

/* Month header css */
.centerLabels {
  color: #7e9f7e !important;
  font-weight: 700 !important;
}

/* Plant name and image cell css */
.plantName {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-weight: 600 !important;
  color: #ffffff !important;
  background-color: #5e875d !important;
}

/* Plant name and image container css */
.imageAndNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Separate image container css */
.imageContainer {
  padding-right: 20px;
}

/* Planting images container css */
.monthlyPlant {
  background-color: #d0e8de !important;
}

/* Harvest time container */
.harvestTime {
  text-align: center !important;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: 600 !important;
  color: #ffffff !important;
  background-color: #5e875d !important;
}

/* Responsive css */
@media screen and (max-width: 1300px) {
  /* Plant name and image container css */
  .imageAndNameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Separate image container css */
  .imageContainer {
    padding-right: 0px;
  }
}

/* THIS MONTH VIEW CSS */
/* Info container css */
.plantTips {
  text-align: center;
  background-color: #d0e8de !important;
  color: #5e875d !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  border-radius: 0px !important;
}

.accordian {
  border-radius: 0px !important;
}

.helpfulTitle {
  color: #ffffff;
}

.tipDiv {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
