/* APP.CSS FILE */
/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

.App {
  text-align: left;
  font-family: "Montserrat";
}

.Navbar {
  font-family: "Montserrat";
}

/* Custom scrollbar css */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #eab970;
  border-radius: 50px;
}
